* {
  font-family: 'Roboto', 'Noto Serif JP', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  width: 100%;
  height:70px;
  margin: 0;
  background-color: green;
  background: linear-gradient(to bottom, #33cc33 0%, #339933 100%);
  box-shadow: 1px 1px 10px black;
  z-index: 1;
}

.navbar a, .navbar button{
  /* box-sizing: border-box; */
  float: left;
  width: 130px;
  text-decoration: none;
  color: white;
  height: 100%;
  padding: 20px 15px 15px 15px;
  text-align: center;
}

.navbar button{
  background: inherit;
  border: none;
  font-size: 16px;
}

.navbar a:hover, .navbar button:hover{
  background-color: #336600;
  border-bottom: 10px solid #ff9900;
  cursor: pointer;
}

.navbar-left, .navbar-right{
  padding: 0;
}

.navbar-left{
  float: left;
}

.navbar-right{
  float: right;
}

.form-box-background{
  /* box-sizing: border-box; */
  width: 100%;
  padding: 100px;
  background-color: #f2f2f2;
}

.form-box{
  box-shadow: 0px 2px 10px grey;
  text-align: center;
  padding: 90px;
  background-color: white;
}

.form-group input{
  width: 100%;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  height: 60px;
  font-size: 20px;
  margin: 0 0 30px 0;
  padding: 0 5px;
}

.form-group label{
  float: left;
  font-size: 25px;
}

.theme-button{
  padding: 20px;
  border-radius: 10px;
  background-color: #0099cc;
  border: 1px solid #0099cc;
  color: white;
  font-size: 20px;
}

.profile-pic{
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.left-full-panel{
  float: left;
}

.dashboard-user-panel{
  text-align: center;
  background-color: grey;
  width: 25%;
}

.dashboard-user-panel li{
  list-style-type: none;
}

.dashboard-control{
  padding: 100px 10px 0 10px;
  width: 70%;
  float: left;
}

.dashboard-content{
  padding: 10px;
}

.dashboard-control-navbar a{
  text-decoration: none;
  border-top: 1px solid blue;
  border-right: 1px solid blue;
  border-left: 1px solid blue;
  border-radius: 10% 10% 0 0;
  width: 100px;
  height: 30px;
  padding: 0 30px;
  font-size: 24px;
}

.dashboard-control-navbar-active {

}

.dashboard-user-panel-links li {
  border: 1px solid black;
  border-top: none;
}

.dashboard-user-panel-links li, .dashboard-user-panel-links ul {
  width: 100%;
}

.dashboard-user-panel-links a{
  text-decoration: none;
  padding: 30px;
  width: 100%;
  color: black;
  display: block; /* allows anchor tag to take up entire width of container*/
}

.blog-list{
  width: 100%;
}

.blog-card{
  height: 200px;
  box-shadow: 1px 1px 10px black;
}

.blog-card:hover{
  cursor: pointer;
  opacity: .5;
}

.blog-card-image{
  width: 100%;
  height: 70%;
}

.card-col{
    width: 33%;
    float: left;
    padding: 30px;
    margin: 0;
}

.flash-message{
  position: fixed;
  right: -100px;
  display: none;
  box-shadow: 1px 1px 10px black;
  -webkit-transition: ; /* Safari */
  transition: right 2s;
}

.flash-message:display{
  right: 400px;
}


/* * {
  color: red;
} */

@media only screen and (max-width: 600px){

  /* for responsive dashboard layout*/
  .dashboard-control, .dashboard-user-panel{
    width: 100%;
  }

  .card-col{
    padding: 5px;
  }

}
