* {
  font-family: Montserrat;
}
.navbar {
  width: 100%;
  height:70px;
  margin: 0;
  background-color: green;
  background: linear-gradient(to bottom, #33cc33 0%, #339933 100%);
  box-shadow: 1px 1px 10px black;
}

.navbar a{
  box-sizing: border-box;
  float: left;
  width: 130px;
  text-decoration: none;
  color: white;
  height: 100%;
  padding: 20px 15px 15px 15px;
  text-align: center;
}

.navbar a:hover{
  background-color: #336600;
  border-bottom: 10px solid #ff9900;
}

.navbar-left, .navbar-right{
  padding: 0;
}

.navbar-left{
  float: left;
}

.navbar-right{
  float: right;
}

/* * {
  color: red;
} */
